Calculadora/src/main/webapp/wsdl/CalculadoraSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadora.com/Calculadora/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculadora" targetNamespace="http://calculadora.com/Calculadora/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://calculadora.com/Calculadora/">
      <xsd:element name="SumaRequestBody">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="num1" type="xsd:double"/>
            <xsd:element name="num2" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SumaResponseBody">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SumaRequest">
    <wsdl:part element="tns:SumaRequestBody" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SumaResponse">
    <wsdl:part element="tns:SumaResponseBody" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Calculadora">
    <wsdl:operation name="suma">
      <wsdl:input message="tns:SumaRequest"/>
      <wsdl:output message="tns:SumaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSOAP" type="tns:Calculadora">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="suma">
      <soap:operation soapAction="http://calculadora.com/Calculadora/suma"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port binding="tns:CalculadoraSOAP" name="CalculadoraSOAP">
      <soap:address location="http://localhost:8095/Calculadora/services/CalculadoraSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
